* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: #64aaff;
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-size: 22pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  color: black;
}

p {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 13pt;
  line-height: 1.2;
}

ul {
  color: black;
  text-align: center;
  width: 40%;
  font-size: 14pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: calc(90%/3);

}
p.copyright {
  font-style: italic;
  font-size: 0.8em;
}
